#home-main {
  margin-top: 100px;
}

#hero-title {
  color: #5857D5;
}

#hero-text {
  color: #5857D5;
  font-weight: bold;
  position: relative;
  z-index: 2;
  margin-top: -65px;
  margin-right: -27px;
}

#home-image-bicycle {
  position: relative;
  margin-left: 108px;
  z-index: 0;
}

#home-image-iphone {
  position: relative;
  margin-top: -188px;
  margin-left: 216px;
  z-index: 1;
}

#home-avatar {
  position: relative;
  z-index: 3;
  margin-left: 160px;
  padding-top: 185px;

}

.simple_form.address_form {
  position: relative;
  z-index: 4;
  margin-left: calc(50vw - 112px);
  margin-bottom: -103px;
  padding-top: 30px;
}

.tags-container {
  display: flex;
}
