#leaderboard {
  height: 200px;
  position: relative;
      padding-top: 32px;
    padding-left: 15px;
}

.points {
  color: #ED3A50;
}

.achievement-list {
  text-align: center;
}

// .delete-button {
//   height: 17px;
// }

// .add-button {
//   border-radius: 50% !important;
// }

.add-modal-button {
  position: absolute;
  bottom: 143px;
  right: 172px;
  height: 50px;


}

.delete-modal-button {
  position: absolute;
  bottom: 151px;
  right: 137px;
  height: 30px;

}

.user-trophies {
  margin-bottom: 10px;

}

.latest-attempt {
  margin-top: -65px;
}

.user-point-style {
  font-size: 18px;
  margin-left: 130px;
  margin-top: -43px;
  color: #5857D5;
  font-weight: bold;
}

.add-friend-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  margin: auto;
  margin-top: 30px;
  font-size: 1.2em;
  background-color: #5857D5;
  color: white;

}

#AddModal {
  margin-top: 200px;
}

#DeleteModal {
  margin-top: 200px;
}

.delete-friend-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  margin: auto;
  margin-top: 30px;
  font-size: 1.2em;
  background-color: #5857D5;
  color: white;
}

.new-trophy {
  width: 20vw;
  margin-left: 29vw;
}
