<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>HELLO</h1>

<%= simple_form_for :address_form, method: :get, url: cycle_routes_path do |f| %>
  <%= f.input :address %>
  <% @tags.each do |tag| %>
    <%= f.input tag.name, as: :boolean %>
  <% end %>
  <%= f.submit %>
<% end %>
