#btn-modal {
  width: 202px;
  font-size: 1.2em;
  // background-color: #5857D5;
  // margin-right: 60px;
}

#btn-modal-2 {
  width: 202px;
  color: #5857D5;
  font-size: 1.2em;
  background-color: white;
  border: none;
  margin-right: 22px;
}

.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  margin: auto;
  margin-top: 30px;
  font-size: 1.2em;
}

