.btn {
 color: white;
 font-weight: bold;
}

#map-btn {
position: relative;
z-index: 1;
background-color: #5857D5;
margin-left: 150px;
margin-bottom: 10px;

}

#btn-modal {
  background-color: #5857D5;
  margin-right: 60px;
}
