
.btn {
background-color: #5857D5;

color: white;
}

#map-btn {
position: relative;
z-index: 1;
// background-color: #5857D5;
margin-left: 150px;
margin-bottom: 30px;

}

#btn-modal {
  width: 202px;
  // background-color: #5857D5;
  // margin-right: 60px;
}
