.log-in-style {
     border-radius: 5px;
     margin-top: 68px;
     margin-bottom: 12px;
     background-color: white;
     padding-top: 33px;
     padding-left: 34px;
     padding-right: 34px;
     width: 300px;
     border-left: -11px;
     margin-left: 35px;
     height: 350px;
}

.log-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  margin: auto;
  margin-top: 30px;
  font-size: 1.2em;
  background-color: #5857D5;
  color: white;
  
}

.log-in-link {
  margin-left: 15px;
}

.forgot-link {
  margin-left: 15px;
}

.signup-link {
  margin-left: 15px;

}