.navbar-lewagon {
  justify-content: space-between;
  // background: #5857D5 !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
  border-radius: 20px;
}

.navbar-lewagon .navbar-brand h1 {
  color: darkred;
}

.icon {
  height: 40px;
  width: 40px;
}


